body {
    background-image: linear-gradient(to right, #ac59ff, #0f7fff);
}
.myContainer {
    height: 100vh;
}

.myBtn:hover {
    background-color: aqua;
}

.myColumnStyle {
    background: #ff0000;
    border: 2px solid black;
    color: white;
}